In [4]:
import pandas as pd

In [7]:
school_data_to_load = "../Resources/schools_complete.csv"
student_data_to_load = "../Resources/students_complete.csv"

In [8]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [10]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [19]:
school_data_complete.head(15)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635

In [21]:
#calculate schools in total
total_schools =len(school_data_complete['school_name'].unique())
#Total number of students
total_students = len(school_data_complete['student_name'].unique())
#total budget
total_budget = sum(school_data_complete['budget'].unique())
# Average math score
avg_math = sum(school_data_complete['math_score']) / len(school_data_complete['math_score'])

#average reading score
avg_read = sum(school_data_complete['reading_score']) / len(school_data_complete['reading_score'])

In [24]:
#percentage of students with a passing math score (70 or greater)
passing_math = [num for num in school_data_complete['math_score'] if num >= 70]
passing_math
pass_math_percent = (len(passing_math) / len(school_data_complete['math_score'])) * 100
pass_math_percent = round(pass_math_percent)

#percentage of students with a passing reading score (70 or greater)
passing_read = [num for num in school_data_complete['reading_score'] if num >= 70]
passing_read
pass_read_percent = (len(passing_read) / len(school_data_complete['reading_score'])) * 100
pass_read_percent = round(pass_read_percent)

In [30]:
#overall passing rate
overall_pass_rate = round((pass_math_percent + pass_read_percent)/2,2)

In [51]:
#Summary info
district_summary = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math],
    "Average Reading Score": [avg_read],
    "% Passing Math": [pass_math_percent],
    "% Passing Reading": [pass_read_percent],
    "Overall Pass Rate": [overall_pass_rate]
})
#add dollar signe and displace number by 2 digits
district_summary['Total Budget'] = district_summary['Total Budget'].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
0,15,32715,"$24,649,428.00",78.985371,81.87784,74.98,85.81,80.4

 #School Summary
    School Name
    School Type
    Total Students
    Total School Budget
    Per Student Budget
    Average Math Score
    Average Reading Score
    % Passing Math
    % Passing Reading
    Overall Passing Rate (Average of the above two)

In [55]:
#School type and name
school_type = school_data.set_index(['school_name'])['type']
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [56]:
#Total students
school_students_total = school_data_complete['school_name'].value_counts()
school_students_total

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [57]:
#School budget
school_budget = school_data.groupby(['school_name'])['budget'].sum()
school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [58]:
#Per Student Budget
per_student_budget = school_budget / school_students_total
per_student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [59]:
#Average match score per school
school_math = school_data_complete.groupby(['school_name'])['math_score'].mean()
school_math = round(school_math,2)
school_math

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [60]:
#Average reading score per school
school_read = school_data_complete.groupby(['school_name'])['reading_score'].mean()
school_read = round(school_read, 2)
school_read

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [62]:
# % Passing Math
school_match_pass = school_data_complete[(school_data_complete['math_score'] >= 70)]
school_match_pass
percent_math_pass = school_match_pass.groupby(["school_name"])["student_name"].count() / school_students_total * 100
percent_math_pass

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [64]:
#%Passing Reading
school_read_pass = school_data_complete[(school_data_complete['reading_score'] >= 70)]
school_read_pass
percent_read_pass = school_read_pass.groupby(["school_name"])["student_name"].count() / school_students_total * 100
percent_read_pass

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [65]:
#Overall Passing Rate (Average of the above two)
school_overall_pass_rate = percent_math_pass + percent_read_pass / 2
school_overall_pass_rate = round(school_overall_pass_rate, 2)
school_overall_pass_rate

Bailey High School       107.65
Cabrera High School      142.65
Figueroa High School     106.36
Ford High School         107.96
Griffin High School      141.96
Hernandez High School    107.18
Holden High School       140.63
Huang High School        106.34
Johnson High School      106.67
Pena High School         142.57
Rodriguez High School    106.48
Shelton High School      141.79
Thomas High School       141.93
Wilson High School       142.14
Wright High School       141.64
dtype: float64

In [87]:
#Dataframe showing school summary info
school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total Students": school_students_total,
    "Total School Budget": school_budget,
    "Budget per Student": per_student_budget,
    "Average Math Score": school_math,
    "Average Reading Score": school_read,
    "% Passing Math": percent_math_pass,
    "% Passing Reading": percent_read_pass,
    "Overall Pass Rate": school_overall_pass_rate
})
#add dollar signe and tidy up data
school_summary['Total School Budget'] = school_summary['Total School Budget'].map("${:,}".format)
school_summary['Budget per Student'] = school_summary['Budget per Student'].map("${:,}".format)
school_summary['% Passing Reading'] = school_summary['% Passing Reading'].map("{:.1f}%".format)
school_summary['% Passing Math'] = school_summary['% Passing Math'].map("{:.1f}%".format)

school_summary

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
Bailey High School,District,4976,"$3,124,928",$628.0,77.05,81.03,66.7%,81.9%,107.65
Cabrera High School,Charter,1858,"$1,081,356",$582.0,83.06,83.98,94.1%,97.0%,142.65
Figueroa High School,District,2949,"$1,884,411",$639.0,76.71,81.16,66.0%,80.7%,106.36
Ford High School,District,2739,"$1,763,916",$644.0,77.10,80.75,68.3%,79.3%,107.96
Griffin High School,Charter,1468,"$917,500",$625.0,83.35,83.82,93.4%,97.1%,141.96
Hernandez High School,District,4635,"$3,022,020",$652.0,77.29,80.93,66.8%,80.9%,107.18
Holden High School,Charter,427,"$248,087",$581.0,83.80,83.81,92.5%,96.3%,140.63
Huang High School,District,2917,"$1,910,635",$655.0,76.63,81.18,65.7%,81.3%,106.34
Johnson High School,District,4761,"$3,094,650",$650.0,77.07,80.97,66.1%,81.2%,106.67
Pena High School,Charter,962,"$585,858",$609.0,83.84,84.04,94.6%,95.9%,142.57
Rodriguez High School,District,3999,"$2,547,363",$637.0,76.84,80.74,66.4%,80.2%,106.48
Shelton High School,Charter,1761,"$1,056,600",$600.0,83.36,83.73,93.9%,95.9%,141.79
Thomas High School,Charter,1635,"$1,043,130",$638.0,83.42,83.85,93.3%,97.3%,141.93
Wilson High School,Charter,2283,"$1,319,574",$578.0,83.27,83.99,93.9%,96.5%,142.14
Wright High School,Charter,1800,"$1,049,400",$583.0,83.68,83.96,93.3%,96.6%,141.64